{% extends "base.html" %}

{% block title %}Drafts{% endblock %}

{% block header %}
<h1 class="is-size-1 title">Drafted Posts</h1>
<br>
{% endblock %}

{% block content %}
{% for posts in post %}
    <div class="box has-text-left">
        <h1 class="is-size-1 title has-text-dark">
            <a href="{{ url_for('main.post', slug=posts.slug) }}">
                {{ posts.title }}
            </a>
        </h1>  
        <p class="subtitle has-text-dark has-text-weight-light is-italic">
            Created at {{ posts.created.strftime('%d/%m/%Y')}} by {{ posts.user.username }}
        </p>
        <div class="field is-grouped">
            <div class="control">
                <a class="button" href="{{ url_for('main.edit_post', slug=posts.slug) }}">Edit</a>
                <a class="button" href="{{ url_for('main.post', slug=posts.slug) }}">Post</a>
                <a class="button" href="{{ url_for('main.delete_post', slug=posts.slug) }}">Delete</a>
            </div>
        </div>
        <hr>
    </div>
{% endfor %}
{% endblock %}