{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
<h1 class="title">
    Welcome!
</h1>
{% endblock %}

{% block content %}
<h2 class="subtitle">
    {% if not current_user.is_authenticated %}
    Create your first blog post, <a href="{{ url_for('auth.register') }}">click here!</a>
    {% endif %}
</h2>
{% for posts in post %}
    {% if posts.published %}
        <div class="box has-text-left">
            <h1 class="is-size-1 title has-text-dark">
                <a href="{{ url_for('main.post', slug=posts.slug) }}">
                    {{ posts.title }}
                </a>
            </h1>  
            <p class="subtitle has-text-dark has-text-weight-light is-italic">
                Created at {{ posts.created.strftime('%d/%m/%Y')}} by {{ posts.user.username }}
            </p>
            <hr>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}
<!-- <div class="column">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <p class="title ">{{ posts.title }}</p>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Read</a>
            </footer>
        </div>
    </div>
</div> -->