{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<style>
    .notification {
        animation-name: fadein;
        animation-duration: 1s;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>
{% endblock %}

{% block header %}
<h1 class="title">
    Welcome!
</h1>
{% endblock %}

{% block message %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p data-close="self" role="alert" class="notification is-{{ category }} has-text-white has-text-centered" id="message">
                {{ message }}
            </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
<h2 class="subtitle">
    {% if not current_user.is_authenticated %}
    Create your first blog post, <a href="{{ url_for('auth.register') }}">click here!</a>
    {% endif %}
</h2>
{% for posts in post %}
    {% if posts.published %}
        <div class="box has-text-left">
            <h1 class="is-size-1 title has-text-dark">
                <a href="{{ url_for('main.post', slug=posts.slug) }}">
                    {{ posts.title }}
                </a>
            </h1>  
            <p class="subtitle has-text-dark has-text-weight-light is-italic">
                Created at {{ posts.created.strftime('%d/%m/%Y')}} by {{ posts.user.username }}
            </p>
            <hr>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}

{% block script %}
<script
    type="text/javascript">window.setTimeout("document.getElementById('message').style.display='none';", 3000); </script>
{% endblock %}